{% extends "master.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}

<form method="post">
    Auditorium id: <input type="text" name="audId"><br>
    movie id: <input type="text" name="movieId"><br>
    <input type="submit" value="Reserve your seat!">
    <input type="submit" value="Movie description">
</form>

{% endblock %}
