{% extends "master.html.twig" %}

{% block title %}Movie Description{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 header">
                <img id="logo" src="/images/logo.jpg" alt="1">
            </div>
            <div class="col-md-3 header">
                <input id="search" type="search" placeholder="Search">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 header">
                <nav class="navbar navbar-expand-md  navbar-dark">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="register.html">SignUp</a></li>
                            <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <img class="card-img-top" src="/images/Bohemian-Rhapsody-banner_1.jpg" alt="moviebanner">
                    <div class="card-body">
                        <h5 class="card-title">{{movie.title}}</h5>
                        <img  src="/images/imdb_logo.png" alt="imdb rating"><br>
                        <p id="movieuserrating" class="card-text">{{movie.userrating}}</p>
                        <p id="movieinfo" class="card-text">{{movie.duration}}|{{movie.category}}|{{movie.movieRating}}</p>
                        <p id="moviedescription" class="card-text">{{movie.description}}</p><br>
                        <button value="Trailer" class="card-text" href="{{movie.trailer}}">Watch Trailer</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">TICKETS</h5>
                        <form method="post">
                            <p id="selectedmovietitle">{{movie.title}}</p><br>
                            <select class="selectedcinema"  name="selectedcinema">
                                {% for cinema in cinemaList %}
                                {% set selected = 'selected' %}
                                <option value="{{cinema}}" {{ selected }}>{{cinema}}</option>
                            {% endfor %}
                            </select><br>
                            <input type="date" name="selecteddate" id="selecteddate" placeholder="Select a date"> 
                            <input type="submit" name="submitdatecinema" class="submitdatecinema" value="Check Available Showtimes">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}