
{% block title %}Reservation Successful{% endblock %}
{% block addhead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("img").click(function () {
                window.location = "/pdf";
            });
        });
    </script>
{% endblock %}
{% block content %}
        movie name: <p>{{movietitle}}</p><br>
        Cinema name:<p>{{cinemaname}}</p><br>
        Auditorium: <p>{{auditorium}}</p><br>
        Date:<p>{{showdate}}</p><br>
        showtime:<p>{{showtime}}</p><br>
        seat id: <p>{{seatnumber}}</p><br>
        User Name:<p></p><br>
<img id="print" src="/images/printer.png" alt="print" >

{% endblock %}
