{% extends "master.html.twig" %}

{% block title %}Movie Description{% endblock %}
{% block addhead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('body').on('click', function (e) {
                var seatNumber = e.target.id;
                if ((seatNumber[seatNumber.length -1] == 'R') ||(seatNumber[seatNumber.length -1] == 'X'))
                {
                    alert("This seat is not available please select another seat");
                    return;
                }
                
                window.location = "/ticketdetails" + "?seatNumber=" + seatNumber;
                //window.location = "/ticketdetails/seat/" + seatNumber;
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 header">
                <img id="logo" src="/images/logo.jpg" alt="1">
            </div>
            <div class="col-md-3 header">
                <input id="search" type="search" placeholder="Search">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 header">
                <nav class="navbar navbar-expand-md  navbar-dark">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="register.html">SignUp</a></li>
                            <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="centeredContent">
                            <p>Select your seat:</p>
                            {% for rows in audRows %}
                                {% set foo = rows.seatsInRow|split(',') %}
                                {% for i in foo %} 
                                    {% if i == '1' %}
                                        <canvas class="canvas" id="Row: {{loop.parent.loop.index}} Seatnumber:{{loop.index}}A" width="30" height="30" style=" background-image:url('../images/ava_seat.png')"></canvas>
                                        {% elseif i == '0' %}
                                        <canvas class="canvas" id="Row: {{loop.parent.loop.index}} Seatnumber:{{loop.index}}R" width="30" height="30" style=" background-image:url('../images/res_seat.png')"></canvas>
                                        {% elseif  i == '$' %}
                                        <canvas class="canvas" id="Row: {{loop.parent.loop.index}} Seatnumber:{{loop.index}}X" width="30" height="30" ></canvas>
                                        {% endif %}
                                    {% endfor %}
                                <br>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
