{% extends "master.html.twig" %}

{% block title %}Index{% endblock %}
{% block content %}

    <form method="post">   
        movie name: <p>{{movietitle}}</p><br>
        Cinema name:<p>{{cinemaname}}</p><br>
        Auditorium: <p>{{auditorium}}</p><br>
        Date:<p>{{showdate}}</p><br>
        showtime:<p>{{showtime}}</p><br>
        seat id: <p>{{seatnumber}}</p><br>
        User Name:<p></p><br>
        <input type="submit" value="Reserve">
    </form>

{% endblock %}

