.card-title
{
    margin-bottom: 20px;
}

addmoviesTable
{
    width: 100%;
    border: none;
    margin: 0 auto;
    padding: 10px;
}

addmoviesTable .left
{
    padding: 0 0 5px 0;
    vertical-align: text-top;
}

addmoviesTable .right
{
    padding: 0 0 5px 10px;
}

#TableLastRow
{
    text-align: center;
    padding: 20px 0 0 0;
}

#api
{
    display: none;
}

#loadMovie, #selectCinema, #selectAuditorium, #selectStatus
{
    width: 100%;
    height: 30px;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 20px;
}