.card-title
{
    margin-bottom: 20px;
}

#loginTable
{
    width: 100%;
    border: none;
    margin: 0 auto;
    padding: 10px;
}

#loginTable .left
{
    padding: 0 0 5px 0;
    vertical-align: text-top;
}

#loginTable .right
{
    padding: 0 0 5px 10px;
}

#TableLastRow
{
    text-align: center;
    padding: 10px 0 0 0;
}

#TableLastRowPlus
{
    text-align: right;
    padding: 20px 0 0 0;
}