.card-title
{
    margin-bottom: 20px;
}

#signupTable
{
    width: 100%;
    border: none;
    margin: 0 auto;
    padding: 10px;
}

#signupTable .left
{
    padding: 0 0 5px 0;
    vertical-align: text-top;
}

#signupTable .right
{
    padding: 0 0 5px 10px;
}

#TableLastRow
{
    text-align: center;
    padding: 20px 0 0 0;
}