body 
{
    margin-top: 100px;
    padding: 0;
    background-color: black;
    background: url("/images/mainBackground0.jpg") no-repeat center center fixed;
    background-size: cover;
}

tab1 { padding-left: 1em; }

.container 
{
    position: relative;
    background-color: white;
    margin: 0 auto;
    border: 2px black solid;
    min-width: 15%;
    max-width: 70%;
    height: auto;
    min-height: 70%;
    padding: 10px;
}

.header
{
    margin-bottom: 10px;
}

#logo
{
    width: 80px;
    height: 80px;
}

#search
{
    margin-bottom: 10px;
    text-align:left;
    width: auto;
    min-width: 150px;
    max-width: 250px;
}


#rightHeaderDiv
{
    text-align: right;
}

#leftDiv
{
    width: 100%;
    min-width: 10%;
    height: auto;
    min-height: 70%;
}

#rightDiv
{
    width: 100%;
    min-width: 10%;
    height: auto;
    min-height: 70%;
}

button
{
    height: 30px;
    width: 80px;
}

#btn
{
    text-decoration: none;
}

#submit
{
    font-size: 12pt;
    font-weight: bold;
}

.navbar-nav{
    color: #093a3e;
}

.nav-item{
    color: #093a3e;
    text-align:right;
}

#pagecontent{
    text-align: center;
    margin-left: 100px;
}

.error {
    font-weight: bold;
    color: red;
}

.canvas{
    border-style: solid;
    border-width: 2px ;
}

/* Style the tab */
.tab 
{
  margin-left: 20px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button 
{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 11px;
  transition: 0.3s;
/*  height: 45px;*/
  font-size: 17px;
  min-width: 100px;
  max-width: 150px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-left: 20px;
  margin-right: 0px;
}

#nowPlaying 
{
  display: block;
}

.tab .default 
{
  background-color: #ddd;
}

.submitdatecinema
{
    width: 100%;
    height: 30px;
}

.selectedcinema, .selectedmovie
{
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

.selecteddate
{
    width: 100%;
    min-width: 100px;
    height: 30px;
    margin-bottom: 20px;
}

#footer
{
    position: absolute;
    bottom: 5px;
}