body {

}
.container {
    position: absolute; 
    top: 50px;
    right: 1px;
    left: 1px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    width: 80%;
    background: url('images/empty_background.jpg') no-repeat center center fixed;
    padding-top: 30px;
}

.submitdatecinema{
    margin-bottom: 50px;
    width: 300px;
    height: 60px; 
}
.navbar-nav{
    color: #093a3e;
}

.selectedcinema{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 60px;
}

#selecteddate{
    width: 300px;
    height: 60px;
    margin-bottom: 50px;
}

#selectedmovietitle{
    margin-top: 50px;
}

html { 
    background: url('images/Bohemian-Rhapsody-banner_2.jpg') no-repeat center center fixed; 
    background-size: cover;
    position: relative; 
    width: 100%;
}

#search{
    text-align:left;
    width: 250px;
    height: 40px;
}

.nav-item{
    color: #093a3e;
    text-align:right;
}

#pagecontent{
    text-align: center;
    margin-left: 100px;
}

.error {
    font-weight: bold;
    color: red;
}

.canvas{
    border-style: solid;
    border-width: 2px ;
}


