<table>
	<tr>
		<td height="20px"></td>
	</tr>
	<tr>
		<td align="center" class="pageName">Disclaimer of warranties and limitation of liability</td>
	</tr>
	<tr >
		<td style="text-indent:30px;" ><p >Dream World Cinemas has made this service available to use as a matter   of convenience. Dream World Cinemas expressly disclaims any claim or liability arising   out of uploading of any obscene, vulgar or pornographic images, photograph or a   picture or altering or distorting the images available under this service in an   obscene, vulgar or pornographic manner. Dream World Cinemas also disclaims all   warranties, express or implied, including, but not limited to, implied   warranties of merchantability and fitness for a particular purpose.   Dream World Cinemas.com does not warrant that this site, its servers, or e-mail sent from   Dream World Cinemas.com are free of viruses or other harmful components. Dream World Cinemas.com   will not be liable for any damages of any kind arising from the use of this   site, including, but not limited to direct, indirect, incidental, punitive, and   consequential damages.</p>
			<p>The Service(s) of Dream World Cinemas is provided on an   &quot;as is&quot; basis without warranties of any kind, whether express or implied.   Dream World Cinemas does not represent or warrant maintaining the confidentiality of   information; although Dream World Cinemas&rsquo;s current practice is to ensure reasonable   efforts to maintain such confidentiality. It is also clearly understood that all   warranties, implied or express take place between the <strong>vendors</strong> and the User. Dream World Cinemas does not endorse in anyway any advertisers/ contents of   advertisers on its web pages. </p>
			<p> Dream World Cinemas will not be responsible for any   damage suffered by users from use of the services on this site. This without   limitation includes loss of revenue/data resulting from delays, non-deliveries,   missed deliveries, or service interruptions as may occur because of any act /   omission of the <strong>vendor</strong>. This disclaimer of liability also   applies to any damages or injury caused by any failure of performance, error,   omission, interruption, deletion, defect, delay in operation or transmission,   computer virus, communication line failure, theft or destruction or unauthorized   access to, alteration of, or use of record, whether for breach of contract,   tortuous behaviour, negligence, or under any other cause of action.</p>
			<p>User   agrees and acknowledges that user shall be solely responsible for user's conduct   and that Dream World Cinemas reserves the right to terminate your rights to use the   service immediately, notwithstanding penal provisions under the Indian cyber   laws or any other allied laws enacted by the government of India or any other   statutory, legislative or regulatory authority authorized in this regard from   time to time. In no event shall Dream World Cinemas, its affiliates, employees, agents,   consultants, contracted companies be liable for any direct, indirect, punitive,   incidental, special or consequential damages or for any damages whatsoever   including, without limitation, damages for loss of use, data or profits, arising   out of or in any way connected with the use or performance of the Dream World Cinemas   sites/services for interrupted communications, delay, lost data or lost profits   arising out of or in connection with this agreement.</p>
			<p> Dream World Cinemas therefore   neither endorses nor offers any judgment or warranty and accepts no   responsibility or liability for the authenticity/ availability of any of the   goods/services/or for any damage, loss or harm, direct or consequential or any   violation of local or international laws that may be incurred by your visit   and/or transaction/s on these sites.</p>
			<p>All prices, unless indicated   otherwise are in Indian Rupees. The availability of products is subject to   change without prior notice at the sole discretion of Dream World Cinemas.</p>
			<p> Dream World Cinemas   reserves the right to refuse or cancel any ticket placed for a product that is   listed at an incorrect price. This shall be regardless of whether the order has   been confirmed and/or payment been levied via credit card. In the event the   payment has been processed by Dream World Cinemas the refund amount shall be credited to   your credit card account and duly notified to you by email. </p>
			<p> In a   credit/debit card transaction, you must use a credit /debit card&nbsp; that is issued   in the name of the User. Dream World Cinemas will not be liable for any credit/debit card   fraud because of the card being used fraudulently. The liability to use a   card/debit or a net banking transaction fraudulently will be on the User and the   onus to 'proove otherwise' shall be exclusively on the User.</p>
			<p>Any request   for cancellations of orders once duly placed on the site, shall not be   entertained. 
				In the event that a non-delivery occurs on account of a   mistake by you (i.e. wrong name or address) any extra cost incurred by   Dream World Cinemas for redelivery shall be claimed from the User placing the order.
			</p>
		<p> Presently, the service(s) of   Dream World Cinemas Shopping are being offered free. However, Dream World Cinemas reserves the   right to charge a fee for any or such facilities.The logo / image of Dream World Cinemas on the home page of the website   &amp; other pages and as used in the communication to the user is registered by   Dream World Cinemas and cannot be used or communicated or distributed without the   specific and written permission of Dream World Cinemas.</p></td>
	</tr>
</table>
