<form name=loginform action="javascript:login()">
	<div id=logininfo></div>
	<table id="login" >		
		<tr>
			<td><u>U</u>ser Name</td>
			<td><input type="text" name="uname" accesskey="u" /></td>
		</tr>
		<tr height="35px">
			<td><u>P</u>assword</td>
			<td><input type="password" name="passw" accesskey="p" value="" /></td>
		</tr >
		<tr height="35px" >
			
			<td colspan="2" align="center">
				<table><tr>
					<td><input type="submit" class="customButton" value="Login"></td>
					<td width="20px"></td>			
					<td><input type="reset" class="customButton" value="Cancel"></td>
				</tr></table>				
			</td>
		</tr>		
	</table>	
	Don't Have an Account ? <a href="#register" onclick="navtoregister()">Register Now</a>
</form>