<form name="regform">
<table id="register">
	<tr><td  id="messagePassw" colspan="2"></td></tr>
	<tr>
		<td align="right">Old Password</td>
		<td><input name="oldPassw" type="password"/></td>
	</tr>
	<tr>
		<td align="right">New Password*</td>
		<td><input name="passw" type="password"
			onkeyup="javascript:checkpassw()" /><label id="m_passw"></label></td>
	</tr>
	<tr>
		<td align="right">Confirm Password*</td>
		<td><input name="passw2" type="password" /></td>
	</tr>
</table>
<table>
	<tr align="center">
		<td width="105"><a href="javascript:changePassw()" class="navigation">Save</a></td>
		<td width="169"><a href="javascript:editProfile()" class="navigation">Cancel</a></td>
	</tr>
</table>
</form>