{% extends "master.html.twig" %}

{% block title %}Add Movie{% endblock %}

{% block addhead %}
    <link rel="stylesheet" href="/css/stylesaddmovies.css" />
    
    <script>
        var movie;
        var AuditList2 = [];
        $(document).ready(function () 
        {
            'use strict';
                        
            $("#loadMovie").click(function () 
            {            
                    var theMovieDBURL = 'https://api.themoviedb.org/3/search/movie?api_key=c5c15796d86db777d5236b8acca9a3bb&query=lion';                
                    $.getJSON(theMovieDBURL, function(response)
                    {
                        var data = response.results[0];

                        var id    = data.id;
                        var title = data.original_title;
                        var description = data.overview;
                        var image = 'https://image.tmdb.org/t/p/w500' + data.poster_path;
                        var backdropPath = data.backdrop_path;
                        var voteAverage  = data.vote_average;

                        $("input[name=id]").val(id);
                        $("input[name=title]").val(title);
                        $("input[name=desc]").val(description);
                        $("input[name=image]").val(image);
                        $("input[name=backdrop]").val(backdropPath);
                        $("input[name=vote]").val(voteAverage);
                    });
                    
                    var id= $("input[name=id]").val();
                    console.log(id);


                    var theMovieDBURL = 'https://api.themoviedb.org/3/movie/' + id + '?api_key=c5c15796d86db777d5236b8acca9a3bb&query=lion';                
                    $.getJSON(theMovieDBURL, function(response)
                    {
                        var data = response.results[0];
                        
                        var genre = data.genres[1];
                        var adult        = data.adult;
                        var duration     = data.runtime;

                        var category = "Genral";
                        if(adult)
                            category = "Adult";
                        
                        $("input[name=genre]").val(genre);
                        $("input[name=category]").val(category);
                        $("input[name=duration]").val(duration);
                        console.log(genre);
                    });
            });
        });
    </script>   
{% endblock %}

{% block content %}
    <script>
        {% for cinema in sessionCinema %}
            var cn = [];
            cn.push({{ cinema.AudId|json_encode|raw }}, {{ cinema.cinemaId|json_encode|raw }});
            console.log({{cn}});
            AuditList2.push(cn);
        {% endfor %}
        console.log({{AuditList2}});
    </script>   

    <div id="rightDiv" class="col-xs-4 col-sm-4 col-md-5">
        <div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Movie</h5>
                    <form name="movieForm" method="post">
                        <div id="api"> 
                            <input type="text" name="id" value="">
                            <input type="text" name="title" value="">
                            <input type="text" name="desc" value="">
                            <input type="text" name="image" value="">
                            <input type="text" name="backdrop" value="">
                            <input type="text" name="vote" value="">
                            <input type="text" name="genre" value="">
                            <input type="text" name="category" value="">
                            <input type="text" name="duration" value="">
                        </div>
                        <table id="signupTable">
                            <tbody>
                                <tr>
                                    <td class="left">Movie Title:</td>
                                    <td class="right"><input type="text" name="movieTitle" class="selecteddate"
                                                             value="" 
                                                             placeholder="Enter the movie title"></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><button id="loadMovie" type=button
                                            value="">Load Movie Information
                                        </button> </td>
                                </tr>

                                <tr>
                                    <td class="left">Show Date:</td>
                                    <td class="right"><input type="date" name="date" class="selecteddate"
                                                             value="{{v.date}}"></td>
                                </tr>
                                <tr>
                                    <td class="left">Show Time:</td>
                                    <td class="right"><input type="time" name="time" class="selecteddate"
                                                             value="{{v.time}}"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <select class="selectedmovie" id="selectStatus" name="selectedstatus">
                                            <option value="" disabled selected>Select status</option>
                                            <option value="">Now Playing</option>
                                            <option value="">Coming Soon</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <select class="selectedmovie" name="selectedcinema" id="selectCinema" onchange="selectauditorium();">
                                            <option value="" disabled selected>Select cinema</option>
                                            {% for cinema in sessionCinema %}
                                                <option value="{{cinema.cinemaId}}">{{cinema.name}}</option>
                                            {% endfor %}                  
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <select class="selectedmovie" name="selectedaudiorium" id="selectAuditorium">
                                            <option value="" disabled selected>Select Auditorium</option>
                                        </select><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="TableLastRow"><input id="submit" class="submitdatecinema" 
                                                                             type="submit" value="Add Movie"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>

            {% if errorList %}
                <ul>
                    {% for error in errorList %}
                        <li>{{error}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
