{% extends "master.html.twig" %}

{% block title %}Movie Ticket Reservation{% endblock %}

{% block addhead %}
    <link rel="stylesheet" href="/css/stylesindex.css" />
{% endblock %}

{% block content %}
    <script type="text/javascript">
        var cinemaList2 = [];
        {% for cinemaList1 in sessionCinemas %}
            {% for cinema in cinemaList1 %}
                var cn = [];
                cn.push({{ cinema.name|json_encode|raw }}, {{ cinema.movieId|json_encode|raw }});
                cinemaList2.push(cn);
            {% endfor %}
        {% endfor %}
    </script>
        
    <div id="rightDiv" class="col-xs-4 col-sm-4 col-md-5">
        <div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">TICKETS</h5>
                    <form method="post">
                        <select class="selectedmovie" name="selectedmovie" id="selectMovie" onchange="selectcinema();">
                            <option value="" disabled selected>Select movie</option>
                            {% for movie in sessionMovies %}
                                <option value="{{movie.movieId}}">{{movie.title}}</option>
                            {% endfor %}                  
                        </select><br>
                        <select class="selectedcinema" name="selectedcinema" id="selectCinema">
                            <option value="" disabled selected>Select cinema</option>
                        </select><br>
                        <input type="date" name="date" class="selecteddate" placeholder="Select a date"> 
                        <input type="submit" name="submitdatecinema" class="submitdatecinema" value="Check Available Showtimes">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}