{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}

{% block addhead %}
    <link rel="stylesheet" href="/css/styleslogin.css" />
{% endblock %}

{% block content %}
    <div id="rightDiv" class="col-xs-4 col-sm-4 col-md-5">
        <div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Log in</h5>
                    <form name="loginForm" method="post">
                        <table id="loginTable">
                            <tbody>
                                <tr>
                                    <td class="left">Email:</td>
                                    <td class="right"><input type="email" name="email" class="selecteddate"
                                                             value="" placeholder="Enter your email 
                                                             address"></td>
                                </tr>
                                <tr>
                                    <td class="left">Password:</td>
                                    <td class="right"><input type="password" name="password" class="selecteddate"
                                                             value="" placeholder="Enter your password"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="TableLastRow"><input class="submitdatecinema" 
                                                                            
                                                                             type="submit" value="login"></td>
                                </tr>
                                <tr>
                                    {% if error %}    
                                        <td colspan="2" id="TableLastRowPlus">
                                            <span class="error">Login credentials invalid.</span></br> 
                                            Try again or Sign up <a href="/signup">here</a></td>
                                        {% else %}
                                        <td colspan="2" id="TableLastRowPlus">No account? Sign up 
                                            <a href="/signup">here</a></td>
                                        {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
