<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>    
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/stylescommon.css" />
        
        <title>{% block title %}{% endblock %}</title>
        
        {% block addhead %}{% endblock %}
        
        <!-- TODO: add Google Analytics tracking code -->
    </head>
    
    <body>
        <div class="container">                
            <div class="row header">
                <div class="col-xs-6 col-sm-6">
                    <img id="logo" src="/images/logo.png">
                </div>
                <div id="rightHeaderDiv" class="col-xs-6 col-sm-6">
                    <input id="search" type="search" placeholder="Search">
                    
                    {% if sessionUser %}
                        <p id="plogedin">
                            You are logged in as {{sessionUser.firstName}}. 
                        </p>
                        <p id="plogout">
                            You can <a href="/logout">Log out.</a>
                        </p>
                    {% else %}
                        
                        <button id="login" type="button">
                            <a href="/login" id="btn">Log in</a>
                        </button>
                        <button id="signup" type="button">
                            <a href="/signup" id="btn">Sign Up</a>
                        </button>
                    {% endif %}
                </div>
            </div>
            
            {% block content %}{% endblock %}
                
            <div id="footer">&copy; Copyright 2019 by 
                <a href="http://localhost:8003/">The Movie DB</a>.
            </div>
        </div>
    </body>
</html>
