{% extends "main.html.twig" %}

{% block title %}Movie Description{% endblock %}

{% block content %}
    <div class="row">
        <div id="leftDiv" class="col-xs-8 col-sm-8 col-md-7">
            <div class="card">
                <img class="card-img-top" src="images/Bohemian-Rhapsody-banner_1.jpg" alt="moviebanner">
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <p id="movieuserrating" class="card-text">{{movie.userrating}}</p>
                    <p id="movieinfo" class="card-text">{{movie.duration}}|{{movie.category}}|{{movie.movieRating}}</p>
                    <p id="moviedescription" class="card-text">{{movie.description}}</p><br>
                    <button value="Trailer" class="card-text" href="{{movie.trailer}}">Watch Trailer</button>
                </div>
            </div>
        </div>
        <div id="rightDiv" class="col-xs-4 col-sm-4 col-md-5">
            <div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">TICKETS</h5>
                        <form method="post">
                            <p id="selectedmovietitle">{{movie.title}}</p><br>
                            <select class="selectedcinema" name="selectedcinema" id="selectCinema">
                                <option value="" disabled selected>Select cinema</option>
                            </select><br>
                            <input type="date" name="date" class="selecteddate" placeholder="Select a date"> 
                            <input type="submit" name="submitdatecinema" class="submitdatecinema" value="Check Available Showtimes">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var cinemaList2 = [];
            {% for cinemaList1 in sessionCinemas %}
                {% for cinema in cinemaList1 %}
                    var cn = [];
                    cn.push({{ cinema.name|json_encode|raw }}, {{ cinema.movieId|json_encode|raw }});
                    cinemaList2.push(cn);
                {% endfor %}
            {% endfor %}
                                            
                var selectHTML = "";
                            
                var select2 = document.getElementById('selectCinema');
                            
                select2.options.length = 0;

                var newSelect = document.createElement('option');
                selectHTML = "<option value='' disabled selected>Select cinema</option>";
                newSelect.innerHTML = selectHTML;
                                        
                select2.add(newSelect);
                            
                for (var i = 0; i < cinemaList2.length; i++) 
                {
                    var cinemaName = cinemaList2[i][0];
                    var movieId    = cinemaList2[i][1];
                    if( {{movie.movieId}} == movieId)
                    {
                        var newSelect = document.createElement('option');
                        selectHTML = "<option value='" + cinemaName + "' selected>" + cinemaName + "</option>";
                        newSelect.innerHTML = selectHTML;
                        select2.add(newSelect);
                        console.log(select2);
                    }
                }
        </script>
    </div>
{% endblock %}