{% extends "main.html.twig" %}

{% block title %}ShowTimes{% endblock %}
{% block addhead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('body').on('click', function (e) {
                var showtime = e.target.id;
                window.location = "/seatcharts" + "?showtime=" + showtime;
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 header">
                <nav class="navbar navbar-expand-md  navbar-dark">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span></button>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        
                        <p>Select showtime:</p>
                        {% for showtimes in sessionShow %}
                             <p id="{{showtimes.movieShowtimeId}}">{{showtimes.time}}</p>                           
                        {% endfor %}                       
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}