{% extends "master.html.twig" %}

{% block title %}Sign up{% endblock %}

{% block addhead %}
    <link rel="stylesheet" href="/css/stylessignup.css" />
{% endblock %}

{% block content %}
       
    <div id="rightDiv" class="col-xs-4 col-sm-4 col-md-5">
        <div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sign up</h5>
                    <form name="registerForm" method="post">
                        <table id="signupTable">
                            <tbody>
                                <tr>
                                    <td class="left">First Name:</td>
                                    <td class="right"><input type="text" name="firstName" class="selecteddate"
                                                             value="{{v.firstName}}" 
                                                             placeholder="Enter your First Name"></td>
                                </tr>
                                <tr>
                                    <td class="left">Last Name:</td>
                                    <td class="right"><input type="text" name="lastName" class="selecteddate"
                                                             value="{{v.lastName}}" 
                                                             placeholder="Enter your Last Name"></td>
                                </tr>
                                <tr>
                                    <td class="left">Email:</td>
                                    <td class="right"><input type="email" name="email" class="selecteddate"
                                                             value="{{v.email}}" 
                                                             placeholder="Enter your email address"></td>
                                </tr>
                                <tr>
                                    <td class="left">Phone:</td>
                                    <td class="right"><input type="text" name="phoneNo" class="selecteddate"
                                                             value="{{v.phoneNo}}" 
                                                             placeholder="Enter your Phone Number"></td>
                                </tr>
                                <tr>
                                    <td class="left">Password:</td>
                                    <td class="right"><input type="password" name="password" class="selecteddate"
                                                             value="" placeholder="Enter your password"></td>
                                </tr>
                                <tr>
                                    <td class="left">password:</td>
                                    <td class="right"><input type="password" name="password1" class="selecteddate"
                                                             value="" placeholder="Enter your password again"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="TableLastRow"><input id="submit" class="submitdatecinema" 
                                                                             type="submit" value="Register"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
    
            {% if errorList %}
                <ul>
                    {% for error in errorList %}
                        <li>{{error}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
